//==IMPORTS===============================================================
//==FUNCTION & MIXINES & VARIABLES========================================
@import 'mixin';
@import 'var';
//------------------------------------------------------------------------

//==FONTS=================================================================
//&display=swap&subset=cyrillic-ext
@import 'fonts';
//------------------------------------------------------------------------

//==RESET STYLE & COMMON PARAMETERS=======================================
@import 'null';

body {
   width: 100%;
   min-height: 100%;
   &._lock {
      overflow: hidden;
   }
}

a:focus,
button:focus {
   outline: 1px auto $mainColor;
}
// ----------------------------------------------------------------------

//==MAIN WRAPPER=========================================================
.wrapper {
   position: relative;
   width: 100%;
   min-height: 100%;
   overflow: hidden;
}
//-----------------------------------------------------------------------

//==GENERAL GRID=========================================================
._container {
   max-width: $md0 + px;
   padding: 0px 15px;
   margin: 0 auto;
}
//----------------------------------------------------------------------

//==IMPORTS=============================================================
//==IMPORT FORMS & UI SLYLE=============================================
@import 'swiper';
@import 'forms';
@import 'decoration-element';
//==IMPORT PAGES STYLE & PAGE ELEMENTS STYLE
@import 'header';
@import 'footer';
//---------------------------------------------------------------------
//=====================================================================
//==GENERAL CLASSES
//=====================================================================
._visualy-hidden {
   position: absolute;
   clip: rect(0 0 0 0);
   width: 1px;
   height: 1px;
   margin: -1px;
}
//button
.btn {
   padding: 14px 38px;
   display: inline-block;
   text-align: center;
   font-family: $fontFamilyTitle;
   font-size: 18px;
   line-height: 1;
   font-weight: 800;
   color: $titleColor;
   border-radius: 7px;
   border: 2px solid $mainColor;
   transition: all 0.3s ease 0s;
   @media (min-width: $md2 + px) {
      &:hover,
      &:focus {
         background-color: $mainColor;
         color: #ffffff;
      }
   }
   @media (max-width: $md4 + px) {
      padding: 10px 30px;
      font-size: 16px;
   }
   &_invert {
      @include adaptiv-value(padding-top, 20, 25, $md2);
      @include adaptiv-value(padding-bottom, 20, 25, $md2);
      @include adaptiv-value(padding-right, 40, 60, $md2);
      @include adaptiv-value(padding-left, 40, 60, $md2);
      @include adaptiv-font(20, 24, $md2);
      color: #ffffff;
      background-color: $mainColor;
      @media (min-width: $md2 + px) {
         &:hover,
         &:focus {
            background-color: #ffffff;
            color: $titleColor;
         }
      }
      @media (max-width: $md2 + px) {
         padding: 20px 40px;
         font-size: 20px;
      }
      @media (max-width: $md4 + px) {
         padding: 15px 40px;
         font-size: 15px;
      }
   }
}
.social {
   margin: 0 -10px;
   display: flex;
   align-items: center;
   @media (max-width: $md2 + px) {
      margin: 0 -15px;
   }
   // .social__item
   &__item {
      padding: 0px 10px;
      @media (max-width: $md2 + px) {
         padding: 0px 25px;
      }
      // .social__item_small
      &_small {
         @media (max-width: $md2 + px) {
            padding: 0px 15px;
         }
      }
   }
   // .social__link
   &__link {
      display: block;
      width: 19px;
      height: 25px;
      background-position: center;
      background-size: 100%;
      background-repeat: no-repeat;
      @media (min-width: $md2 + px) {
         &:hover,
         &:focus {
            transform: scale(1.1);
            outline: none;
         }
      }
      @media (max-width: $md2 + px) {
         transform: scale(1.6);
      }
      // .social__link_facebook
      &_facebook {
         width: 13px;
         background-image: url('../img/icons/social/facebook-f.svg');
      }
      // .social__link_twitter
      &_twitter {
         background-image: url('../img/icons/social/twitter.svg');
      }
      // .social__link_youtube
      &_youtube {
         width: 22px;
         background-image: url('../img/icons/social/youtube.svg');
      }
      // .social__link_instagram
      &_instagram {
         background-image: url('../img/icons/social/instagram.svg');
      }
      &_small {
         height: 20px;
         background-size: contain;
         @media (max-width: $md2 + px) {
            transform: scale(1);
         }
      }
   }
}
//section-title
.section-title {
   position: relative;
   font-family: $fontFamilyTitle;
   @include adaptiv-font(27, $fzTitle, $minWidth, $md2);
   font-weight: 800;
   line-height: 1.2;
   letter-spacing: -0.025em;
   color: $titleColor;
   // .section-title_quote
   &_quote {
      &::before {
         content: '';
         position: absolute;
         top: 0;
         left: -45px;
         display: block;
         width: 80px;
         height: 64px;
         background: url('../img/icons/quote.png') 0 0 / 100% no-repeat;
         transform: translate(-100%, 0);
      }
   }
   // .section-title__subtitle
   &__subtitle {
      @include adaptiv-value(margin-bottom, 15, 28);
      display: block;
      font-family: $fontFamilyTitle;
      @include adaptiv-font(16, $fzSubtitle, $minWidth, $md2);
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      color: $mainColor;
   }
}
//card-title
.card-title {
   font-family: $fontFamilyTitle;
   @include adaptiv-font(16, 25, $minWidth, $md2);
   @include adaptiv-font(25, 30, $md2);
   line-height: 1.4;
   font-weight: 800;
   letter-spacing: -0.025em;
   color: $titleColor;
}
//card-text
.card-text {
   @include adaptiv-font(12, 18, $minWidth, $md2);
   @include adaptiv-font(18, 20, $md2);
   line-height: 1.4;
   font-weight: 400;
   letter-spacing: normal;
   color: $generalColor;
}
//====================================================================
//==MAIN PAGE
//====================================================================
.page {
   // .page__fullscreen
   &__fullscreen {
   }
   &__inner {
      background-position: center;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-image: url('../img/bg-grad-2.jpg');
   }
   // .page__about
   &__about {
   }
   // .page__services
   &__services {
   }
   // .page__projects
   &__projects {
   }
   // .page__our-team
   &__our-team {
      margin-bottom: 180px;
      @media (max-width: $md4 + px) {
         margin-bottom: 50px;
      }
   }
   // .page__reviews
   &__reviews {
   }
   // .page__contacts
   &__contacts {
   }
   // .page__blog
   &__blog {
   }
}
//fullscreen section===========================================================
.fullscreen {
   position: relative;
   @include adaptiv-value(padding-top, 150, 200, $md2);
   @include adaptiv-value(padding-bottom, 50, 200, $md2);
   display: flex;
   align-items: center;
   width: 100vw;
   min-height: 100vh;
   background: #ebeafa url('../img/bg-grad-1.png') center / cover no-repeat;
   @media (max-width: $md2 + px) {
      padding: 150px 20px 0;
   }
   @media (max-width: $md5 + px) {
      padding: 100px 0 0;
   }
   // .fullscreen__row
   &__row {
      position: relative;
      z-index: 2;
      width: 100%;
      display: flex;
      @media (max-width: $md2 + px) {
         flex-direction: column;
      }
   }

   // .fullscreen__content
   &__content {
      @media (min-width: $md2 + px) {
         display: flex;
         flex: 0 0 100%;
      }
   }

   // .fullscreen__container
   &__container {
      width: 100%;
      display: flex;
      align-items: center;
   }

   // .fullscreen__body
   &__body {
      @media (min-width: $md2 + px) {
         padding-right: 10px;
         width: 50%;
      }
      @media (max-width: $md2 + px) {
         text-align: center;
      }
   }
   // .fullscreen__title
   &__title {
      @include adaptiv-value(margin-bottom, 25, 45, $md2);
      font-family: $fontFamilyTitle;
      @include adaptiv-font(50, 90, $md2);
      @include adaptiv-font(28, 50, $minWidth, $md2);
      line-height: 1.2;
      font-weight: 800;
      color: $titleColor;
      @media (max-width: $md2 + px) {
         margin-bottom: 25px;
         padding: 0px 20px;
         text-align: center;
      }
   }
   // .fullscreen__text
   &__text {
      padding: 0px 50px 0px 0px;
      @include adaptiv-value(margin-bottom, 35, 60, $md2);
      @include adaptiv-font(25, 30, $md2);
      @include adaptiv-font(18, 25, $minWidth, $md2);
      line-height: 1.4;
      font-weight: 400;
      @media (max-width: $md2 + px) {
         margin-bottom: 35px;
         padding: 0px 20px;
         text-align: center;
      }
   }
   // .fullscreen__btn
   &__btn {
      @media (max-width: $md5 + px) {
         margin-bottom: 15px;
      }
   }
   // .fullscreen__image
   &__image {
      position: relative;
      padding: 0 0 100% 0;
      @media (min-width: $maxWidth + px) {
         padding: 0px;
         height: 650px;
      }
      @media (min-width: $md2 + px) {
         flex: 0 0 48%;
         padding: 0 0 32.1% 0;
         transform: translate(-100%, 0);
      }
      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: contain;
         @media (min-width: $md2 + px) {
            width: 89.5%;
            max-width: 900px;
         }
      }
   }
}

//about section====================================================
.about-section {
   position: relative;
   padding: 100px 0px;
   @media (max-width: $md3 + px) {
      padding: 70px 0px;
   }
   // .about-section__container
   &__container {
   }
   // .about-section__title
   &__title {
      margin: 0 auto;
      @include adaptiv-value(margin-bottom, 50, 120);
      max-width: 750px;
      text-align: center;
   }
   // .about-section__row
   &__row {
      margin: 0 -15px;
      @include adaptiv-value(margin-bottom, 50, 180);
      display: flex;
      align-items: stretch;
      @media (max-width: $md2 + px) {
         margin-right: -5px;
         margin-left: -5px;
      }
      @media (max-width: $md4 + px) {
         margin: -5px -5px 65px;
         flex-wrap: wrap;
         justify-content: center;
      }
   }
   // .about-section__column
   &__column {
      padding: 0 15px;
      flex: 0 0 33.33%;

      @media (max-width: $md2 + px) {
         padding: 0 5px;
      }
      @media (max-width: $md4 + px) {
         max-width: 250px;
         padding: 5px;
         flex: 0 0 50%;
      }
      @media (max-width: $md5 + px) {
         max-width: 200px;
         flex: 0 0 90%;
      }
   }
   // .about-section__card
   &__card {
   }
   // .about-section__block
   &__block {
   }
}

.about-card {
   display: block;
   @include adaptiv-value(padding-top, 30, 93);
   @include adaptiv-value(padding-bottom, 30, 93);
   @include adaptiv-value(padding-left, 10, 50);
   @include adaptiv-value(padding-right, 10, 50);
   width: 100%;
   min-height: 100%;
   text-align: center;
   border-width: 6px;
   border-style: solid;
   border-radius: 18px;
   &::before {
      content: '';
      display: block;
      margin: 0 auto;
      @include adaptiv-value(margin-bottom, 15, 50);
      @include adaptiv-value(width, 45, 84, $minWidth, $md2);
      @include adaptiv-value(height, 45, 84, $minWidth, $md2);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
   }
   //.about-card_01
   &_01 {
      border-color: #fcd7df;
      &::before {
         background-image: url('../img/icons/control.png');
      }
   }
   //.about-card_02
   &_02 {
      border-color: #c9f3e2;
      &::before {
         background-image: url('../img/icons/report.png');
      }
   }
   //.about-card_03
   &_03 {
      border-color: #f2d5ba;
      &::before {
         background-image: url('../img/icons/guarranted.png');
      }
   }
   // .about-card__title
   &__title {
      @include adaptiv-value(margin-bottom, 5, 20, $minWidth, $md2);
   }
   // .about-card__text
   &__text {
   }
}

.about-block {
   position: relative;
   z-index: 2;
   &__box {
      padding: 0 15px;
      margin: 0 auto;
      max-width: ($maxWidth - 290) + px;
      display: flex;
      @media (max-width: $md2 + px) {
         flex-direction: column;
      }
   }
   // .about-block__content
   &__content {
      padding: 28px 0;
      flex: 0 0 100%;
   }
   // .about-block__container
   &__container {
   }
   // .about-block__body
   &__body {
      @include adaptiv-value(padding-right, 20, 100, $md2);
      @media (min-width: $md2 + px) {
         width: 45%;
      }
      @media (max-width: $md2 + px) {
         padding: 0;
         margin-bottom: 80px;
         text-align: center;
      }
      @media (max-width: $md4 + px) {
         margin-bottom: 60px;
      }
      @media (max-width: $md5 + px) {
         margin-bottom: 40px;
      }
   }
   // .about-block__title
   &__title {
      @include adaptiv-value(margin-bottom, 15, 35);
      font-family: $fontFamilyTitle;
      @include adaptiv-font(30, $fzTitle);
      line-height: 1.2;
      font-weight: 800;
      letter-spacing: -0.025em;
      color: #222222;
   }
   // .about-block__subtitle
   &__subtitle {
      @include adaptiv-value(margin-bottom, 20, 30, $md2);
      display: block;
      @include adaptiv-font(18, 24);
      font-weight: 400;
      line-height: 1.2;
      color: $generalColor;
      @media (max-width: $md2 + px) {
         margin-bottom: 20px;
      }
   }
   // .about-block__text
   &__text {
      @include adaptiv-value(margin-bottom, 20, 45);
      @include adaptiv-font(15, 20);
      line-height: 1.6;
      color: $generalColor;
   }
   // .about-block__link
   &__btn {
   }
   // .about-block__picture
   &__picture {
      flex: 0 0 50%;
      @media (min-width: $md2 + px) {
         width: 50%;
         align-self: stretch;
         transform: translate(-100%, 0);
      }
   }
}
.about-picture {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   // .about-picture__image
   &__image {
      flex: 0 0 50%;
      position: relative;
      padding-bottom: 51.4%;
      width: 50%;
      height: 0;
      overflow: hidden;
      img {
         position: absolute;
         min-width: 100%;
         height: 100%;
         object-fit: cover;
      }
      // .about-picture__image_left
      &_left {
         transform: translate(16%, -15%);
         border-radius: 15px 0 0 15px;
         shape-outside: polygon(0 0, 100% 0, 75% 100%, 0 100%);
         clip-path: polygon(3.79% 0%, 95.79% 0%, 96.97% 0%, 97.51% 0.05%, 97.98% 0.21%, 98.48% 0.5%, 98.75% 0.7%, 98.99% 0.93%, 99.28% 1.23%, 99.49% 1.53%, 99.75% 2%, 99.94% 2.46%, 100% 3.01%, 100% 3.62%, 99.92% 4.25%, 77.22% 97.8%, 77.03% 98.27%, 76.83% 98.58%, 76.54% 98.88%, 76.13% 99.25%, 75.69% 99.54%, 75.25% 99.74%, 74.53% 99.96%, 74.14% 100%, 0% 100%, 0% 0%, 3.79% 0%);
         @media (max-width: $md2 + px) {
            transform: translate(8%, -15%);
         }
         @media (max-width: $md5 + px) {
            transform: translate(10%, -15%);
         }
         img {
            right: 0;
         }
      }
      // .about-picture__image_right
      &_right {
         transform: translate(0, 15%);
         border-radius: 0 15px 15px 0;
         shape-outside: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
         clip-path: polygon(96.21% 100%, 4.21% 100%, 3.03% 100%, 2.49% 99.95%, 2.02% 99.79%, 1.52% 99.5%, 1.25% 99.3%, 1.01% 99.07%, 0.72% 98.77%, 0.51% 98.47%, 0.25% 98%, 0.06% 97.54%, 0% 96.99%, 0% 96.37%, 0.07% 95.75%, 22.78% 2.2%, 22.97% 1.73%, 23.17% 1.42%, 23.46% 1.12%, 23.87% 0.75%, 24.31% 0.46%, 24.75% 0.26%, 25.47% 0.04%, 25.86% 0%, 100% 0%, 100% 100%, 96.21% 100%);
         @media (max-width: $md2 + px) {
            transform: translate(-8%, 15%);
         }
         @media (max-width: $md5 + px) {
            transform: translate(-10%, 15%);
         }
         img {
            left: 0;
         }
      }
   }
}

//services-section================================================
.services-section {
   position: relative;
   padding: 100px 0 200px;
   @media (max-width: $md5 + px) {
      padding: 50px;
   }
   // .services-section__container
   &__container {
   }
   // .services-section__title
   &__title {
      margin-left: auto;
      @include adaptiv-value(margin-bottom, 50, 120);
      max-width: 750px;
      text-align: right;
   }
   // .services-section__row
   &__row {
      margin: 0 -15px;
      display: flex;
      flex-wrap: wrap;
   }
   // .services-section__column
   &__column {
      flex: 0 0 33.33%;
      padding: 0 15px;
      @media (max-width: $md2 + px) {
         flex: 0 0 50%;
      }
      @media (max-width: $md5 + px) {
         flex: 0 0 100%;
      }
      &:nth-child(2) {
         padding-top: 87px;
         @media (max-width: $md5 + px) {
            padding-top: 30px;
         }
      }
      &:last-child {
         padding-top: 174px;
         @media (max-width: $md5 + px) {
            padding-top: 0;
         }
      }
   }
   // .services-section__item
   &__item {
      height: auto;
      margin-bottom: 30px;
      &:last-child {
         margin-bottom: 0;
      }
   }
}
.service-card {
   @include adaptiv-value(padding-top, 35, 72);
   @include adaptiv-value(padding-bottom, 35, 72);
   @include adaptiv-value(padding-left, 10, 40);
   @include adaptiv-value(padding-right, 10, 40);
   width: 100%;
   text-align: center;
   border-radius: 18px;
   background-color: rgb(255, 255, 255);
   @media (max-width: $md2 + px) {
      margin-right: auto;
      margin-left: auto;
      max-width: 350px;
   }
   @media (max-width: $md3 + px) {
      max-width: 300px;
   }
   @media (max-width: $md5 + px) {
      max-width: 200px;
   }
   &::before {
      content: '';
      display: block;
      margin: 0 auto;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      @include adaptiv-value(margin-bottom, 15, 50);
      @include adaptiv-value(width, 35, 84, $minWidth, $md2);
      @include adaptiv-value(height, 35, 84, $minWidth, $md2);
   }
   // .service-card_01
   &_01 {
      &::before {
         background-image: url('../img/icons/s_01.png');
      }
   }
   // .service-card_04
   &_04 {
      &::before {
         background-image: url('../img/icons/s_04.png');
      }
   }
   // .service-card_02
   &_02 {
      &::before {
         background-image: url('../img/icons/s_02.png');
      }
   }
   // .service-card_05
   &_05 {
      &::before {
         background-image: url('../img/icons/s_05.png');
      }
   }
   // .service-card_03
   &_03 {
      &::before {
         background-image: url('../img/icons/s_03.png');
      }
   }
   // .service-card_06
   &_06 {
      &::before {
         background-image: url('../img/icons/s_06.png');
      }
   }
   // .service-card__title
   &__title {
      @include adaptiv-value(margin-bottom, 5, 20, $minWidth, $md2);
   }
   // .service-card__text
   &__text {
      @include adaptiv-value(margin-bottom, 25, 50);
   }
   &__link {
      display: inline-block;
      @include adaptiv-value(width, 25, 42, $minWidth, $md2);
      @include adaptiv-value(height, 18, 42, $minWidth, $md2);
      background: url('../img/icons/arrow-right.png') center / contain no-repeat;
   }
}

//projects-section===============================================
.projects-section {
   position: relative;
   padding: 100px 0px 192px;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-image: url('../img/bg-grad-3.jpg');
   @media (max-width: $md3 + px) {
      padding: 100px 0 130px 0;
   }
   @media (max-width: $md5 + px) {
      padding: 60px 0;
   }
   // .projects-section__container
   &__container {
   }
   // .projects-section__title
   &__title {
      margin: 0 auto;
      margin-bottom: 120px;
      @include adaptiv-value(margin-bottom, 60, 120);
      max-width: 800px;
      text-align: center;
   }
   // .projects-section__body
   &__body {
      margin-bottom: 90px;
      @media (max-width: $md3 + px) {
         margin-bottom: 50px;
         padding: 20px;
      }
   }
   // .projects-section__row
   &__row {
      margin-bottom: 90px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: $md3 + px) {
         justify-content: center;
         flex-wrap: wrap;
         &:last-child {
            margin-bottom: 0px;
         }
      }
   }
   //.projects-section__column
   &__column {
      flex: 0 0 60%;
      @media (max-width: $md3 + px) {
         flex: 0 0 100%;
      }
      &:first-child {
         padding: 24px 0 0 24px;
         flex: 0 0 40%;
         @media (max-width: $md3 + px) {
            flex: 0 0 100%;
            max-width: 400px;
            margin-bottom: 50px;
         }
      }
      //.projects-section__column_reverse
      &_reverse {
         &:first-child {
            padding: 24px 24px 0 0;
         }
         @media (min-width: $md3 + px) {
            order: 1;
            &:first-child {
               order: 2;
            }
         }
      }
   }
   // .projects-section__image
   &__image {
      position: relative;
      padding-bottom: 100%;
      height: 0;
      &::before {
         content: '';
         position: absolute;
         top: -24px;
         left: -24px;
         z-index: 1;
         display: block;
         width: 95%;
         height: 95%;
         border: 7px solid #fff;
         border-radius: 18px;
      }
      // .projects-section__image_pink-frame
      &_pink-frame::before {
         z-index: 1;
         border-color: #fcd7df;
      }
      // .projects-section__image_blue-frame
      &_blue-frame::before {
         top: -24px;
         left: auto;
         right: -24px;
         z-index: 3;
         border-color: #c9f3e2;
      }
      // .projects-section__image_orange-frame
      &_orange-frame::before {
         z-index: 3;
         border-color: #f2d5ba;
      }
   }
   // .projects-section__img-wrap
   &__img-wrap {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 18px;
      clip-path: polygon(
         100% 100%,
         100% 3.1%,
         99.9% 2.7%,
         99.8% 2.1%,
         99.5% 1.7%,
         99.3% 1.3%,
         99.1% 1.1%,
         98.8% 0.9%,
         98.6% 0.7%,
         98.2% 0.4%,
         97.7% 0.2%,
         97.2% 0.1%,
         96.7% 0%,
         96.2% 0%,
         95.5% 0%,
         9.7% 10.5%,
         9% 10.7%,
         8.3% 11%,
         8% 11.2%,
         7.7% 11.4%,
         7.5% 11.6%,
         7.2% 11.9%,
         7.1% 12.1%,
         6.9% 12.4%,
         6.7% 12.8%,
         6.5% 13.3%,
         6.4% 13.9%,
         0% 96.4%,
         0% 96.6%,
         0% 97.1%,
         0.1% 97.5%,
         0.2% 97.8%,
         0.4% 98.2%,
         0.7% 98.6%,
         0.9% 98.9%,
         1.1% 99.1%,
         1.4% 99.3%,
         1.8% 99.6%,
         2.2% 99.8%,
         2.7% 99.9%,
         3.4% 100%,
         100% 100%
      );
      // .projects-section__img-wrap_reverse
      &_reverse {
         border-radius: 18px;
         clip-path: polygon(
            0% 100%,
            0% 3.1%,
            0.1% 2.7%,
            0.2% 2.1%,
            0.5% 1.7%,
            0.7% 1.3%,
            0.9% 1.1%,
            1.2% 0.9%,
            1.4% 0.7%,
            1.8% 0.4%,
            2.3% 0.2%,
            2.8% 0.1%,
            3.3% 0%,
            3.8% 0%,
            4.5% 0%,
            90.3% 10.5%,
            91% 10.7%,
            91.7% 11%,
            92% 11.2%,
            92.3% 11.4%,
            92.5% 11.6%,
            92.8% 11.9%,
            92.9% 12.1%,
            93.1% 12.4%,
            93.3% 12.8%,
            93.5% 13.3%,
            93.6% 13.9%,
            100% 96.4%,
            100% 96.6%,
            100% 97.1%,
            99.9% 97.5%,
            99.8% 97.8%,
            99.6% 98.2%,
            99.3% 98.6%,
            99.1% 98.9%,
            98.9% 99.1%,
            98.6% 99.3%,
            98.2% 99.6%,
            97.8% 99.8%,
            97.3% 99.9%,
            96.6% 100%,
            0% 100%
         );
      }
      img {
         position: absolute;
         width: 100%;
         min-height: 100%;
         object-fit: cover;
      }
   }
   // .projects-section__content
   &__content {
   }
   // .projects-section__more
   &__more {
      text-align: center;
      a {
         display: inline-block;
         font-family: $fontFamilyTitle;
         font-size: 18px;
         line-height: 2;
         font-weight: 800;
         letter-spacing: -0.025em;
         color: $titleColor;
         border-bottom: 2px solid $mainColor;
         transition: all 0.3s ease 0s;
         @media (min-width: $md2 + px) {
            &:hover {
               color: $mainColor;
               border-bottom: none;
            }
         }
      }
   }
}

.content-project {
   @include adaptiv-value(padding-left, 65, 130, $md3);
   @media (max-width: $md3 + px) {
      padding: 0;
      text-align: center;
   }
   // .content-project_reverse
   &_reverse {
      @include adaptiv-value(padding-right, 65, 130, $md3);
      @media (min-width: $md3 + px) {
         padding-left: 0 !important;
      }
      @media (max-width: $md3 + px) {
         padding: 0;
      }
   }
   // .content-project__title
   &__title {
      margin-bottom: 25px;
      font-family: $fontFamilyTitle;
      @include adaptiv-font(25, 42);
      font-weight: 800;
      line-height: 1.3;
      letter-spacing: -0.025em;
      color: $titleColor;
      @media (max-width: $md5 + px) {
         margin-bottom: 15px;
      }
   }
   // .content-project__label
   &__label {
      margin-bottom: 10px;
      display: block;
      font-size: 24px;
      line-height: 1;
      font-weight: 800;
      letter-spacing: -0.025em;
      color: #fe6686;
      @media (max-width: $md5 + px) {
         font-size: 18px;
      }
      // .content-project__label_green
      &_green {
         color: #54d6a1;
      }
      // .content-project__label_orange
      &_orange {
         color: #fe9a3f;
      }
   }
   // .content-project__text
   &__text {
      margin-bottom: 45px;
      font-size: 20px;
      line-height: 1.6;
      font-weight: 400;
      color: $generalColor;
      @media (max-width: $md5 + px) {
         margin-bottom: 25px;
         font-size: 15px;
      }
   }
   // .content-project__button
   &__button {
   }
}

//.our-team-section============================================
.our-team-section {
   position: relative;
   @include adaptiv-value(padding-top, 70, 230);
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   background-image: url('../img/bg-grad-4.jpg');
   // .our-team-section__container
   &__container {
      position: relative;
      z-index: 2;
   }
   // .our-team-section__title
   &__title {
      margin: 0 auto;
      @include adaptiv-value(margin-bottom, 50, 140);
      max-width: 800px;
      text-align: center;
   }
   // .our-team-section__list
   &__list {
      margin: 0 -15px;
      display: flex;
      flex-wrap: wrap;
      @media (max-width: $md5 + px) {
         margin: 0 -8px;
      }
   }
   // .our-team-section__item
   &__item {
      flex: 0 0 25%;
      -ms-flex: 0 0 20%;
      padding: 0 15px;
      @media (max-width: $md3 + px) {
         flex: 0 0 50%;
      }
      @media (max-width: $md5 + px) {
         padding: 0 8px;
      }
   }
   // .our-team-section__card
   &__card {
   }
}
.team-card {
   width: 100%;
   // .team-card_even
   &_even {
      padding-top: 70px;
      @media (max-width: $md3 + px) {
         padding-top: 50px;
      }
      @media (max-width: $md5 + px) {
         padding-top: 30px;
      }
   }
   // .team-card__image
   &__image {
      position: relative;
      margin-bottom: 40px;
      padding-bottom: 115.7%;
      width: 100%;
      height: 0;
      clip-path: polygon(100% 0%, 16.7% 0%, 15.6% 0.1%, 14.4% 0.3%, 13.7% 0.6%, 13.1% 1.1%, 12.6% 1.5%, 12.3% 1.8%, 11.9% 2.2%, 11.5% 2.9%, 11.1% 4.2%, 0% 95.2%, 0% 95.8%, 0.1% 96.4%, 0.4% 97.4%, 0.9% 98%, 1.2% 98.4%, 1.5% 98.7%, 1.9% 99%, 2.5% 99.4%, 3.1% 99.7%, 4% 99.9%, 5.5% 100%, 100% 100%, 100% 0%);
      overflow: hidden;
      border-radius: 15px;
      @media (max-width: $md2 + px) {
         margin-bottom: 28px;
      }
      @media (max-width: $md5 + px) {
         margin-bottom: 15px;
      }
      // .team-card__image_even
      &_even {
         clip-path: polygon(0% 0%, 83.3% 0%, 84.4% 0.1%, 85.6% 0.3%, 86.3% 0.6%, 86.9% 1.1%, 87.4% 1.5%, 87.7% 1.8%, 88.1% 2.2%, 88.5% 2.9%, 88.9% 4.2%, 100% 95.2%, 100% 95.8%, 99.9% 96.4%, 99.6% 97.4%, 99.1% 98%, 98.8% 98.4%, 98.5% 98.7%, 98.1% 99%, 97.5% 99.4%, 96.9% 99.7%, 96% 99.9%, 94.5% 100%, 0% 100%, 0% 0%);
      }
      img {
         position: absolute;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   // .team-card__label
   &__label {
      margin-bottom: 10px;
      font-family: $fontFamilyTitle;
      @include adaptiv-font(15, 24, $minWidth, $md3);
      @include adaptiv-font(18, 24, $md3);
      line-height: 1.1;
      font-weight: 800;
      color: $titleColor;
      @media (max-width: $md5 + px) {
         margin-bottom: 5px;
      }
   }
   // .team-card__text
   &__text {
      @include adaptiv-font(13, 18, $minWidth, $md3);
      @include adaptiv-font(15, 18, $md3);
      line-height: 1.1;
      font-weight: 400;
      color: #adb0ba;
   }
}
//reviews-section===============================================
.reviews-section {
   position: relative;
   padding: 50px 0px 190px;
   background-position: 0 0;
   background-size: 100% 100%;
   background-repeat: no-repeat;
   background-image: url('../img/bg-5.jpg');
   @media (max-width: $md4 + px) {
      padding: 50px 0px 100px;
   }
   // .reviews-section__container
   &__container {
   }
   // .reviews-section__row
   &__row {
      position: relative;
      z-index: 2;
      display: flex;
      align-items: flex-end;
      @media (max-width: $md2 + px) {
         flex-direction: column;
      }
   }
   // .reviews-section__content
   &__content {
      @include adaptiv-value(padding-right, 50, 150, $md2);
      flex: 0 0 60%;
      width: 60%;
      @media (max-width: $md2 + px) {
         padding-right: 50px;
         flex: 0 0 100%;
         width: 100%;
         min-width: 0;
      }
      @media (max-width: $md5 + px) {
         padding-right: 0;
         margin-bottom: 20px;
      }
   }
   // .reviews-section__title
   &__title {
      margin-bottom: 55px;
      @media (max-width: $md5 + px) {
         margin-bottom: 35px;
      }
   }
   // .reviews-section__slider
   &__slider {
      width: 100%;
   }
   // .reviews-section__image
   &__image {
      position: relative;
      padding-bottom: 45px;
      flex: 0 0 40%;
      width: 40%;
      align-self: stretch;
      display: flex;
      align-items: flex-start;
      @media (max-width: $md2 + px) {
         max-width: 70%;
         width: 100%;
         align-self: flex-end;
         top: -20px;
      }
      @media (max-width: $md5 + px) {
         top: 0;
         max-width: 100%;
      }
   }
   // .reviews-section__img-wrap
   &__img-wrap {
      position: relative;
      padding-bottom: 129%;
      width: 100%;
      height: 0;
      border-radius: 20px;
      overflow: hidden;
      clip-path: polygon(
         0% 100%,
         100% 100%,
         100% 3.2%,
         99.9% 2.6%,
         99.8% 2.3%,
         99.6% 1.9%,
         99.4% 1.6%,
         99.1% 1.3%,
         98.9% 1.2%,
         98.7% 1%,
         98.5% 0.8%,
         98.2% 0.7%,
         97.9% 0.5%,
         97.5% 0.3%,
         97.1% 0.2%,
         96.6% 0.1%,
         96.2% 0%,
         95.9% 0%,
         95.5% 0%,
         94.9% 0%,
         3.4% 8.3%,
         2.8% 8.4%,
         2.4% 8.6%,
         2.1% 8.7%,
         1.7% 8.9%,
         1.5% 9.1%,
         1.3% 9.2%,
         1.1% 9.4%,
         0.9% 9.6%,
         0.6% 9.9%,
         0.4% 10.3%,
         0.2% 10.7%,
         0.1% 11.1%,
         0% 11.8%,
         0% 100%
      );
      img {
         position: absolute;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   // .reviews-section__frame
   &__frame {
      position: absolute;
      @include adaptiv-value(top, 350, 580, $minWidth, $md5);
      @include adaptiv-value(top, 380, 880, $md5, $md2);
      @include adaptiv-value(top, 480, 600, $md2, $maxWidthContainer);
      left: 0;
      z-index: -1;
      width: 266px;
      height: 266px;
      transform: translate(-30%, -65%);
   }
}
.slider-reviews {
   // .slider-reviews__list
   &__list {
      margin-bottom: 45px;
      @media (max-width: $md5 + px) {
         margin-bottom: 30px;
      }
   }
   // .slider-reviews__slide
   &__slide {
   }
   // .slider-reviews__text
   &__text {
      margin-bottom: 65px;
      font-size: 24px;
      line-height: 1.5;
      color: $generalColor;
      @media (max-width: $md5 + px) {
         font-size: 18px;
         margin-bottom: 40px;
      }
   }
   // .slider-reviews__caption
   &__caption {
      font-size: 18px;
      line-height: 1.1;
      color: #adb0ba;
      @media (max-width: $md5 + px) {
         font-size: 15px;
      }
      span {
         display: inline-block;
         margin-right: 15px;
         font-family: $fontFamilyTitle;
         font-size: 24px;
         line-height: 1.1;
         font-weight: 800;
         color: $titleColor;
         @media (max-width: $md5 + px) {
            font-size: 18px;
         }
      }
   }
}

//contacts-section================================================
.contact-section {
   position: relative;
   padding: 190px 0px;
   background-position: 0 0;
   background-size: 100% 100%;
   background-repeat: no-repeat;
   background-image: url('../img/bg-grad-5.jpg');
   @media (max-width: $md2 + px) {
      padding: 150px 0px;
   }
   @media (max-width: $md3 + px) {
      padding: 120px 0px;
   }
   @media (max-width: $md4 + px) {
      padding: 100px 0px;
   }
   @media (max-width: $md5 + px) {
      padding: 80px 0px;
   }
   //.contact-section__container
   &__container {
   }
   // .contact-section__title
   &__title {
      margin: 0 auto;
      margin-bottom: 120px;
      max-width: 710px;
      text-align: center;
      @media (max-width: $md2 + px) {
         margin-bottom: 100px;
      }
      @media (max-width: $md3 + px) {
         margin-bottom: 80px;
      }
      @media (max-width: $md5 + px) {
         margin-bottom: 40px;
      }
   }
   // .contact-section__body
   &__body {
      @media (min-width: $md2 + px) {
         display: flex;
      }
   }
   // .contact-section__feedback
   &__feedback {
      @media (min-width: $md2 + px) {
         width: 50%;
         flex: 0 0 50%;
      }
      @media (max-width: $md2 + px) {
         margin-bottom: 50px;
      }
   }
   // .contact-section__contacts
   &__contacts {
      @media (min-width: $md2 + px) {
         width: 50%;
         flex: 0 0 50%;
      }
   }
}
.feedback {
   // .feedback__title
   &__title {
      margin-bottom: 50px;
      font-family: $fontFamilyTitle;
      font-size: 42px;
      @include adaptiv-font(28, 42);
      line-height: 1.1;
      font-weight: 800;
      letter-spacing: -0.025em;
      color: $titleColor;
      @media (max-width: $md2 + px) {
         text-align: center;
      }
      @media (max-width: $md5 + px) {
         margin-bottom: 30px;
      }
   }
   // .feedback__form
   &__form {
      @include adaptiv-value(margin-right, 0, 115, $md2);
   }
}
.contacts {
   padding-top: 95px;
   @include adaptiv-value(padding-left, 50, 130, $md2);
   @media (max-width: $md2 + px) {
      padding: 0;
   }
   // .contacts__text
   &__text {
      margin-bottom: 45px;
      font-size: 24px;
      line-height: 1.5;
      font-weight: 400;
      color: $generalColor;
      @media (max-width: $md3 + px) {
         font-size: 22px;
      }
      @media (max-width: $md4 + px) {
         font-size: 20px;
      }
      @media (max-width: $md5 + px) {
         font-size: 18px;
      }
   }
   // .contacts__list
   &__list {
      li {
         margin-bottom: 40px;
         &:last-child {
            margin-bottom: 0;
         }
         @media (max-width: $md2 + px) {
            padding-left: 10%;
         }
      }
   }
   // .contacts__link
   &__link {
      display: flex;
      align-items: center;
      font-size: 18px;
      line-height: 1.1;
      font-weight: 400;
      color: $generalColor;
      &::before {
         content: '';
         margin-right: 18px;
         display: inline-block;
         flex: 0 0 48px;
         width: 48px;
         height: 48px;
      }

      & > span {
         display: inline-block;
      }
      // .contacts__link_phone
      &_phone {
         &::before {
            background: url('../img/icons/phone.png') 0 0 / 100% no-repeat;
         }
      }
      // .contacts__link_email
      &_email {
         &::before {
            background: url('../img/icons/mail.png') 0 0 / 100% no-repeat;
         }
      }
      // .contacts__link_address
      &_address {
         &::before {
            background: url('../img/icons/address.png') 0 0 / 100% no-repeat;
         }
      }
   }
   //.contacts__label
   &__label {
      margin-bottom: 8px;
      display: block;
      font-family: $fontFamilyTitle;
      font-size: 21px;
      font-weight: 800;
      letter-spacing: -0.025em;
      color: $titleColor;
   }
}

//blog-section===================================================
.blog-section {
   position: relative;
   padding: 190px 0;
   background-color: #f3f3f4;
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   background-image: url('../img/bg-grad-6.jpg');
   @media (max-width: $md4 + px) {
      padding: 100px 0;
   }
   @media (max-width: $md5 + px) {
      padding: 80px 0;
   }
   // .blog-section__container
   &__container {
   }
   // .blog-section__header
   &__header {
      margin-bottom: 120px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      @media (max-width: $md2 + px) {
         margin-bottom: 100px;
      }
      @media (max-width: $md3 + px) {
         margin-bottom: 80px;
      }
      @media (max-width: $md4 + px) {
         margin-bottom: 50px;
      }
      @media (max-width: $md5 + px) {
         flex-wrap: wrap;
         justify-content: center;
      }
   }
   // .blog-section__title
   &__title {
      flex: 1 0 auto;
      margin-right: 30px;
      @media (max-width: $md5 + px) {
         flex: 0 0 100%;
         text-align: center;
         margin: 0;
         margin-bottom: 30px;
      }
   }
   // .blog-section__link
   &__link {
      display: inline-block;
      font-family: $fontFamilyTitle;
      font-size: 18px;
      line-height: 2;
      font-weight: 800;
      letter-spacing: -0.025em;
      color: $titleColor;
      border-bottom: 2px solid $mainColor;
      transition: all 0.3s ease 0s;
      @media (min-width: $md2 + px) {
         &:hover {
            border: none;
            color: $mainColor;
         }
      }
   }
   // .blog-section__body
   &__body {
      margin: 0 -15px;
      display: flex;
      align-items: stretch;
      @media (max-width: $md2 + px) {
         margin: -15px;
         flex-wrap: wrap;
         justify-content: center;
      }
   }
   // .blog-section__col
   &__col {
      flex: 0 0 33.333%;
      width: 33.333%;
      padding: 0 15px;
      @media (max-width: $md2 + px) {
         padding: 15px;
         flex: 0 0 50%;
         width: 50%;
         max-width: 370px;
      }
      @media (max-width: $md4 + px) {
         flex: 0 0 100%;
         width: 100%;
      }
   }
   // .blog-section__card
   &__card {
   }
}
.blog-card {
   width: 100%;
   height: 100%;
   // .blog-cart__link
   &__link {
      padding: 45px 40px 40px;
      display: flex;
      height: 100%;
      width: 100%;
      flex-direction: column;
      border: 1px solid #b3bed1;
      border-radius: 18px;
      transition: all 0.3s ease 0s;
      @media (min-width: $md2 + px) {
         &:hover {
            background-color: #fff;
         }
      }
   }
   // .blog-card__sticker
   &__sticker {
      margin-bottom: 10px;
      font-family: $fontFamilyTitle;
      @include adaptiv-font(15, 18);
      line-height: 1;
      font-weight: 700;
      letter-spacing: -0.025em;
      // .blog-card__sticker_pink
      &_pink {
         color: #fe6686;
      }
      // .blog-card__sticker_green
      &_green {
         color: #54d6a1;
      }
      // .blog-card__sticker_orange
      &_orange {
         color: #fe9a3f;
      }
   }
   // .blog-card__title
   &__title {
      margin-bottom: 30px;
      font-family: $fontFamilyTitle;
      @include adaptiv-font(18, 24);
      line-height: 1.5;
      color: $titleColor;
      font-weight: 700;
      letter-spacing: -0.025em;
   }
   // .blog-cart__text
   &__text {
      flex: 1 0 auto;
      margin-bottom: 48px;
      @include adaptiv-font(16, 20);
      line-height: 1.6;
      font-weight: 400;
      color: $generalColor;
   }
   // .blog-cart__info
   &__info {
   }
}
.info-blog {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   // .info-blog__image
   &__image {
      position: relative;
      margin-right: 16px;
      margin-bottom: 10px;
      flex: 0 0 42px;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      overflow: hidden;
      img {
         position: absolute;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   // .info-blog__author-name
   &__author-name {
      margin-right: 10px;
      margin-bottom: 10px;
      flex: 1 1 auto;
      font-family: $fontFamilyTitle;
      @include adaptiv-font(17, 21);
      line-height: 1.1;
      font-weight: 800;
      letter-spacing: -0.025em;
      color: $titleColor;
   }
   // .info-blog__like
   &__like {
      position: relative;
      margin-left: auto;
      margin-bottom: 10px;
      padding-left: 28px;
      @include adaptiv-font(14, 18);
      line-height: 1.1;
      font-weight: 400;
      color: #adb0ba;
      &::before {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         margin-right: 10px;
         display: block;
         width: 18px;
         height: 18px;
         background: url('../img/icons/heart.svg') center center / 100% 100% no-repeat;
      }
   }
}
